/* Universal */

body {
    background-color: black;
    color: white;
}

/* Typography */

html, body {
    font-size: 18px;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: "Montserrat", "Open Sans", Helvetica, sans-serif;
}

body {
    text-align: center;
}


h1 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 1.333rem;
    margin-bottom: 3rem;
    font-weight: bold;
    font-style: italic;
}

h4 {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: normal;
}

h6 {
    font-size: 0.777rem;
    font-weight: normal;
}

p {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}


/* Landing page */

.sofc-menu {
    height: 80px;
}

.sofc-landing-image {
    max-height: 400px;
    align-content: center;
}

.sofc-landing-text {
    text-align: center;
    max-width: 620px;
    margin-bottom: 4rem;
}

.sofc-prev-sign {
    float: right;
    text-align: right;
}

.sofc-next-sign {
    float: left;
    text-align: left;
}

.sofc-sign {
    margin-bottom: 3rem;
}

/* Images */

.chalk {
    height: 50px;
    margin-bottom: 1rem;
}

/* Footer */

/* Social Media Icons */

.demo-icon {
  width: 1.6rem;
  fill: white;
}

#fb {
  padding-right: 0.3rem;
}

#em {
  padding-left: 0.3rem;
}

svg:hover {
  fill: grey;
}